<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/css/style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(93832836, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/93832836" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body class = "bluebackgroud">
<div class="row">
    <a class="bot2 col-md" href="/institutionsRedirect"><h2 class="buttonTitle">Спорткомплексы</h2></a>
    <a class="bot2 col-md" href="/racesRedirect"><h2 class="buttonTitle">Соревнования</h2></a>
    <a class="bot2 col-md" href="/regionsRedirect"><h2 class="buttonTitle">Регионы</h2></a>
    <a class="bot2 col-md" href="/coachesRedirect"><h2 class="buttonTitle">Тренеры</h2></a>
    <a class="bot2 col-md" href="/sportsmansRedirect"><h2 class="buttonTitle">Спортсмены</h2></a>
    <a class="bot2 col-md" href="/mainRedirect"><h2 class="buttonTitle">Главная</h2></a>
    <a href="/registrationRedirect" ><img
            alt=""
            class="bot2  col-md"

            src="https://static.overlay-tech.com/assets/8d69822d-f599-4e0a-9a18-48e1afc7a1a0.svg"
    /></a>
</div>

<div class="flex-wrapper-one">
    <a class="regiony">Панель управления таблицей: Тренеры</a>
</div>
<form method="post" action="/changeCoach">
<table>
    <tbody>
    <thead>
    <tr>
        <td>Код</td>
        <td>Имя</td>
        <td>Регион</td>
        <td>Спорткомплекс</td>
        <td> </td>
    </tr>
    </thead>
    <tr>
        <td><input type="number" name="stats"></td>
        <td><input name="stats"></td>
        <td><input name="stats"></td>
        <td><input name="stats"></td>
        <td><button type="submit">Изменить запись</button></td>
    </tr>
    {{#coach}}
        <tr>
            <div class="row">
                <td>
                   {{idcoach}}
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <form method="post" action = "/deleteCoachFromDatabase" >
                            <input name="coach" value="{{coach}}" hidden>
                            <p style="text-align: center"><button name="idremovedcoach" value="{{idcoach}}" type="submit">Удалить</button>
                        </form>
                    </div>
                </td>
                <td>
                <form method="post" action = "/goToCoach">
                    <p style="text-align: center"><button name="idcoach" value="{{idcoach}}" type="submit">{{name}}</button>
                </form>

                </td>
                <td>
                    {{region}}
                </td>
                <td>
                    {{institution}}
                </td>
            </div>
        </tr>
    {{/coach}}
    </tbody>
</table>
</form>

<div class="flex-wrapper-three">
    <form method="post" action="/prevPageCoachAdmin">
        <button type="submit" class="button-two">
            <input name="start" value="{{start}}" hidden>
            <input name="end" value="{{end}}" hidden>
            <h7>Предыдущая страница</h7>
        </button>
    </form>

    <form method="post" action="/nextPageCoachAdmin">
        <button type="submit" class="button-two">
            <input name="start" value="{{start}}" hidden>
            <input name="end" value="{{end}}" hidden>
            <h7>Следующая страница</h7>
        </button>
    </form>
</div>
</body>
</html>