<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/css/style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <a class="buttonBox col-md" href="/institutionRedirect"><h2 class="buttonTitle">Спорткомплексы</h2></a>
    <p class="about-gallery-pricin-two  col-sm">Соревнования</p>
    <p class="about-gallery-pricin-three  col-sm">Регионы</p>
    <p class="about-gallery-pricin-four  col-sm">Тренеры</p>
    <p class="about-gallery-pricin-five  col-sm">Спортсмены</p>
    <a class="buttonBox col-md" href="/mainRedirect"><h2 class="buttonTitle">Главная</h2></a>
    <img
            alt=""
            class="mask  col-md"
            src="https://static.overlay-tech.com/assets/8d69822d-f599-4e0a-9a18-48e1afc7a1a0.svg"
    />
</div>

<div class="flex-wrapper-one">
    <a class="regiony">Спорткомплексы</a>
    <div class="input">
        <div class="dropdown">
            <p>Сортировка по</p>
            <select class="dropdown" name="language" id="language">
                <option value="name">Названию(А-Я)</option>
                <option value="nameNo">Названию(Я-А)</option>
            </select>
        </div>
        <div class="search">
            <input class="search" type="text" placeholder="Искать здесь...">
            <button type="submit"></button>
        </div>
    </div>
    <div>
    </div>
    <div class="table">
        <div class="flex-wrapper-two">
            <div class="td"><p class="standart-b">Название</p></div>
            <div class="td"><p class="standart-b">Регион</p></div>
            <div class="td"><p class="standart-b">Город</p></div>
            <div class="td"><p class="standart-b">Категория</p></div>
        </div>
        <div class="flex-wrapper-two">
            <div class="td"><p class="standart">Название</p></div>
            <div class="td"><p class="standart">Регион</p></div>
            <div class="td"><p class="standart">Город</p></div>
            <div class="td"><p class="standart">Категория</p></div>
        </div>
        <div class="flex-wrapper-two">
            <div class="td"><p class="standart">Название</p></div>
            <div class="td"><p class="standart">Регион</p></div>
            <div class="td"><p class="standart">Город</p></div>
            <div class="td"><p class="standart">Категория</p></div>
        </div>
        <div class="flex-wrapper-two">
            <div class="td"><p class="standart">Название</p></div>
            <div class="td"><p class="standart">Регион</p></div>
            <div class="td"><p class="standart">Город</p></div>
            <div class="td"><p class="standart">Категория</p></div>
        </div>
        <div class="flex-wrapper-two">
            <div class="td"><p class="standart">Название</p></div>
            <div class="td"><p class="standart">Регион</p></div>
            <div class="td"><p class="standart">Город</p></div>
            <div class="td"><p class="standart">Категория</p></div>
        </div>
        <div class="flex-wrapper-two">
            <div class="td"><p class="standart">Название</p></div>
            <div class="td"><p class="standart">Регион</p></div>
            <div class="td"><p class="standart">Город</p></div>
            <div class="td"><p class="standart">Категория</p></div>
        </div>
        <div class="flex-wrapper-two">
            <div class="td"><p class="standart">Название</p></div>
            <div class="td"><p class="standart">Регион</p></div>
            <div class="td"><p class="standart">Город</p></div>
            <div class="td"><p class="standart">Категория</p></div>
        </div>
        <div class="flex-wrapper-two">
            <div class="td"><p class="standart">Название</p></div>
            <div class="td"><p class="standart">Регион</p></div>
            <div class="td"><p class="standart">Город</p></div>
            <div class="td"><p class="standart">Категория</p></div>
        </div>
    </div>
    <img
            alt=""
            class="dots"
            src="https://static.overlay-tech.com/assets/3ff18855-81fc-43c4-a398-3d3252f497ef.svg"
    />
</div>

</body>
</html>