<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/css/style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <a class="buttonBox col-md" href="/institutionsRedirect"><h2 class="buttonTitle">Спорткомплексы</h2></a>
        <a class="buttonBox col-md" href="/racesRedirect"><h2 class="buttonTitle">Соревнования</h2></a>
        <a class="buttonBox col-md" href="/mainRedirect"><h2 class="buttonTitle">Регионы</h2></a>
        <a class="buttonBox col-md" href="/coachesRedirect"><h2 class="buttonTitle">Тренеры</h2></a>
        <a class="buttonBox col-md" href="/sportsmansRedirect"><h2 class="buttonTitle">Спортсмены</h2></a>
        <a class="buttonBox col-md" href="/mainRedirect"><h2 class="buttonTitle">Главная</h2></a>
        <a href="/registrationRedirect" ><img
                alt=""
                class="mask  col-md"

                src="https://static.overlay-tech.com/assets/8d69822d-f599-4e0a-9a18-48e1afc7a1a0.svg"
        /></a>
    </div>

</div>

<div class="flex-wrapper-one">
    <a class="regiony">Регионы</a>
    <div class="input">
        <div class="dropdown">
            <p>Сортировка по</p>
            <select class="dropdown" name="language" id="language">
                <option value="name">Названию(А-Я)</option>
                <option value="nameNo">Названию(Я-А)</option>
            </select>
        </div>
        <div class="search">
            <input class="search" type="text" placeholder="Искать здесь...">
            <button type="submit"></button>
        </div>
    </div>
    <div>
    </div>
    <table class="iksweb">
        <tbody>
        <tr>
            <td>Код</td>
            <td>Название</td>
            <td>Регион</td>
        </tr>
        {{#institution}}
            <tr>
                <div class="row">
                    <td>
                        <a href="/sportsmanRedirect">{{idinstitution}}</a>
                    </td>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{region}}
                    </td>
                </div>
            </tr>
        {{/institution}}
        </tbody>
    </table>
    <img
            alt=""
            class="dots"
            src="https://static.overlay-tech.com/assets/3ff18855-81fc-43c4-a398-3d3252f497ef.svg"
    />
    <div class="row">
        <div class="buttonDaySwitchBox col-xl">
            <a href="/prevPageInstitution" class="buttonDaySwitchBox2">
                <h2 class="buttonTitle">Предыдущая страница</h2>
            </a>
        </div>
        <div class="col-xl-7"></div>
        <div class="buttonDaySwitchBox col-xl">
            <a href="/nextPageInstitution" class="buttonDaySwitchBox2">
                <h2 class="buttonTitle">Следующая страница</h2>
            </a>
        </div>
    </div>
</body>
</html>