<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/css/style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <a class="buttonBox col-md" href="/institutionsRedirect"><h2 class="buttonTitle">Спорткомплексы</h2></a>
    <a class="buttonBox col-md" href="/racesRedirect"><h2 class="buttonTitle">Соревнования</h2></a>
    <a class="buttonBox col-md" href="/mainRedirect"><h2 class="buttonTitle">Регионы</h2></a>
    <a class="buttonBox col-md" href="/coachesRedirect"><h2 class="buttonTitle">Тренеры</h2></a>
    <a class="buttonBox col-md" href="/sportsmansRedirect"><h2 class="buttonTitle">Спортсмены</h2></a>
    <a class="buttonBox col-md" href="/mainRedirect"><h2 class="buttonTitle">Главная</h2></a>
    <a href="/registrationRedirect" ><img
            alt=""
            class="mask  col-md"

            src="https://static.overlay-tech.com/assets/8d69822d-f599-4e0a-9a18-48e1afc7a1a0.svg"
    /></a>
</div>

<p class="competition">Название соревнования</p>
<div class="table">
    <div class="flex-wrapper-two">
        <div class="td-man"><p class="standart-b">Место</p></div>
        <div class="td-man"><p class="standart-b">ФИО</p></div>
        <div class="td-man"><p class="standart-b">Год рождения</p></div>
        <div class="td-man"><p class="standart-b">Регион</p></div>
        <div class="td-man"><p class="standart-b">Штрафы</p></div>
        <div class="td-man"><p class="standart-b">Время</p></div>
    </div>
    <div class="flex-wrapper-two">
        <div class="td-man"><p class="standart">Место</p></div>
        <div class="td-man"><p class="standart">ФИО</p></div>
        <div class="td-man"><p class="standart">Год рождения</p></div>
        <div class="td-man"><p class="standart">Регион</p></div>
        <div class="td-man"><p class="standart">Штрафы</p></div>
        <div class="td-man"><p class="standart">Время</p></div>
    </div>
    <div class="flex-wrapper-two">
        <div class="td-man"><p class="standart">Место</p></div>
        <div class="td-man"><p class="standart">ФИО</p></div>
        <div class="td-man"><p class="standart">Год рождения</p></div>
        <div class="td-man"><p class="standart">Регион</p></div>
        <div class="td-man"><p class="standart">Штрафы</p></div>
        <div class="td-man"><p class="standart">Время</p></div>
    </div>
    <div class="flex-wrapper-two">
        <div class="td-man"><p class="standart">Место</p></div>
        <div class="td-man"><p class="standart">ФИО</p></div>
        <div class="td-man"><p class="standart">Год рождения</p></div>
        <div class="td-man"><p class="standart">Регион</p></div>
        <div class="td-man"><p class="standart">Штрафы</p></div>
        <div class="td-man"><p class="standart">Время</p></div>
    </div>
    <div class="flex-wrapper-two">
        <div class="td-man"><p class="standart">Место</p></div>
        <div class="td-man"><p class="standart">ФИО</p></div>
        <div class="td-man"><p class="standart">Год рождения</p></div>
        <div class="td-man"><p class="standart">Регион</p></div>
        <div class="td-man"><p class="standart">Штрафы</p></div>
        <div class="td-man"><p class="standart">Время</p></div>
    </div>
    <div class="flex-wrapper-two">
        <div class="td-man"><p class="standart">Место</p></div>
        <div class="td-man"><p class="standart">ФИО</p></div>
        <div class="td-man"><p class="standart">Год рождения</p></div>
        <div class="td-man"><p class="standart">Регион</p></div>
        <div class="td-man"><p class="standart">Штрафы</p></div>
        <div class="td-man"><p class="standart">Время</p></div>
    </div>
    <div class="flex-wrapper-two">
        <div class="td-man"><p class="standart">Место</p></div>
        <div class="td-man"><p class="standart">ФИО</p></div>
        <div class="td-man"><p class="standart">Год рождения</p></div>
        <div class="td-man"><p class="standart">Регион</p></div>
        <div class="td-man"><p class="standart">Штрафы</p></div>
        <div class="td-man"><p class="standart">Время</p></div>
    </div>
    <div class="flex-wrapper-two">
        <div class="td-man"><p class="standart">Место</p></div>
        <div class="td-man"><p class="standart">ФИО</p></div>
        <div class="td-man"><p class="standart">Год рождения</p></div>
        <div class="td-man"><p class="standart">Регион</p></div>
        <div class="td-man"><p class="standart">Штрафы</p></div>
        <div class="td-man"><p class="standart">Время</p></div>
    </div>
</div>

</body>
</html>