<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/css/style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <a class="buttonBox col-md" href="/institutionsRedirect"><h2 class="buttonTitle">Спорткомплексы</h2></a>
    <a class="buttonBox col-md" href="/racesRedirect"><h2 class="buttonTitle">Соревнования</h2></a>
    <a class="buttonBox col-md" href="/mainRedirect"><h2 class="buttonTitle">Регионы</h2></a>
    <a class="buttonBox col-md" href="/coachesRedirect"><h2 class="buttonTitle">Тренеры</h2></a>
    <a class="buttonBox col-md" href="/sportsmansRedirect"><h2 class="buttonTitle">Спортсмены</h2></a>
    <a class="buttonBox col-md" href="/mainRedirect"><h2 class="buttonTitle">Главная</h2></a>
    <a href="/registrationRedirect" ><img
            alt=""
            class="mask  col-md"

            src="https://static.overlay-tech.com/assets/8d69822d-f599-4e0a-9a18-48e1afc7a1a0.svg"
    /></a>
</div>

<div class="flex-wrapper-one">
    <a class="regiony" href="region.html">Спортсмены</a>
    <div class="input">
        <div class="dropdown">
            <p>Сортировка по</p>
            <select class="dropdown" id="language" name="language">
                <option value="name">Названию(А-Я)</option>
                <option value="nameNo">Названию(Я-А)</option>
            </select>
        </div>
        <div class="button-two">
            <p class="button">Сравнить спортсменов</p>
        </div>
        <div class="search">
            <input class="search" placeholder="Поиск..." type="text">
            <button type="submit"></button>
        </div>
    </div>
    <table class="iksweb">
        <tbody>
        <tr>
            <td>Код</td>
            <td>Фио</td>
            <td>Пол</td>
            <td>Регион</td>
            <td>Учреждение</td>
            <td>Звание</td>
            <td>Дата рождения</td>
        </tr>
        {{#sportsman}}
        <tr>

            <div class="row">
                <td>
                    <a >{{idsportsman}}</a>
                </td>
                <td><form method="post">
                    <p style="text-align: center"><button name="idsportsman" value="{{idsportsman}}" type="submit">{{name}} {{surname}}</button>
                </form>

                </td>
                <td>
                   {{sex}}
                </td>
                <td>
                    {{region}}
                </td>
                <td>
                    {{institution}}
                </td>
                <td>
                    {{rank}}
                </td>
                <td>
                    {{birthdate}}
                </td>

            </div>

        </tr>
        {{/sportsman}}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="buttonDaySwitchBox col-xl">
        <a href="/prevPage" class="buttonDaySwitchBox2">
            <h2 class="buttonTitle">Предыдущая страница</h2>
        </a>
    </div>
    <div class="col-xl-7"></div>
    <div class="buttonDaySwitchBox col-xl">
        <a href="/nextPage" class="buttonDaySwitchBox2">
            <h2 class="buttonTitle">Следующая страница</h2>
        </a>
    </div>
</div>
</body>
</html>