<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/css/style.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <a class="buttonBox col-md" href="/institutionsRedirect"><h2 class="buttonTitle">Спорткомплексы</h2></a>
    <a class="buttonBox col-md" href="/racesRedirect"><h2 class="buttonTitle">Соревнования</h2></a>
    <a class="buttonBox col-md" href="/regionsRedirect"><h2 class="buttonTitle">Регионы</h2></a>
    <a class="buttonBox col-md" href="/coachesRedirect"><h2 class="buttonTitle">Тренеры</h2></a>
    <a class="buttonBox col-md" href="/sportsmansRedirect"><h2 class="buttonTitle">Спортсмены</h2></a>
    <a class="buttonBox col-md" href="/mainRedirect"><h2 class="buttonTitle">Главная</h2></a>
    <a href="/registrationRedirect" ><img
            alt=""
            class="mask  col-md"

            src="https://static.overlay-tech.com/assets/8d69822d-f599-4e0a-9a18-48e1afc7a1a0.svg"
    /></a>
</div>
<div class="component-2">
    {{#sportsman}}
    <p class="fio-trenera">{{name}} {{surname}}</p>
    <div class="flex-wrapper-thr">
        <div class="flex-wrapper-four">
            <div class="flex-wrapper-six">
                <div class="picture-icon">
                    <div class="icon-mountains">
                        <img
                                alt=""
                                class="mask"
                                src="https://static.overlay-tech.com/assets/8b013637-53c1-4765-89b4-889c2f81dbee.svg"
                        />
                    </div>
                </div>
                <div class="flex-wrapper-o">
                    <p class="trenery-sportsmena-trener-trener-trener">
                        Дата рождения:{{birthdate}}<br/>
                        Регион:{{region}}<br/>
                    {{/sportsman}}
                    </p>
                </div>
            </div>
            <div class="flex-wrapper-five">
                <p class="trenery-sportsmena-trener-trener-trener">
                    {{#coach}}
                    Тренер:
                    <form method="post">
                        <p style="text-align: center"><button name="idcoach" value="{{idcoach}}" type="submit">{{name}}</button>
                    </form><br/>
                    {{/coach}}
                </p>
            </div>
            <div class="flex-wrapper-five">
                <div class="table-mini">
                    <div class="flex-wrapper-two">
                        {{#sportsmanStat}}
                        <div class="td-mini"><p class="standart">Количество гонок: {{raceNumber}}</p></div>
                        <div class="td-mini"><p class="standart">Стрельба: {{accuracy}}%</p></div>
                        <div class="td-mini"><p class="standart">Стрельба лежа: {{layingAccuracy}}%</p></div>
                        <div class="td-mini"><p class="standart">Стрельба стоя: {{standingAccuracy}}%</p></div>
                        {{/sportsmanStat}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="iksweb">
    <tbody>
    <tr>
        <th>Результаты гонок</th>
    </tr>
    <tr>
        <td>Место</td>
        <td>Номер гонки</td>
        <td>Точность стоя</td>
        <td>Точность лежа</td>
    </tr>
    {{#race}}
        <tr>
            <div class="row">
                <td>
                    <a >{{placesportsman}}</a>
                </td>
                <td>
                <form method="post">
                    <p style="text-align: center"><button name="idrace" value="{{idrace}}" type="submit">{{idrace}}</button>
                </form>
                </td>
                <td>
                    {{standingaccuracy}}
                </td>
                <td>
                    {{layingaccuracy}}
                </td>
            </div>
        </tr>
    {{/race}}
    </tbody>
</table>

</body>
</html>