<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.01.0.js"></script>
</head>

<body class="flex-column">
<div class="untitled-page root">
    /*This group structure is not ready for flow layout, please resolve the ❗alone items in pxCode editor.*/<img
        src="/assets/00d001889b45fe18a28a87bba00af461.png"
        alt="alt text"
        class="image"
/>
    <div class="rect1"></div>
    <div class="info">Соревнования  </div>
    <div class="info1">Тренеры</div>
    <img src="/assets/bac423b967a2e0a8044579ab9fd32653.png" alt="alt text" class="icon" /><px-grid
        x="742fr minmax(0px, max-content) 560fr"
        y="66px minmax(0px, max-content) 706fr"
        absolute="true"
><h2 class="medium_title">Главная</h2></px-grid
>
    <div class="info2">спорткомплексы</div>
    <div class="info3">Регионы</div>
    <div class="info4">Спортсмены</div>
</div>
<script type="text/javascript">
      AOS.init();
    </script>
</body>
</html>
